/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
/* font-family: 'Indie Flower', cursive; */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap'); */
/* font-family: 'Amatic SC', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Montserrat:wght@300&display=swap');

/* html, body{
  height: 100%
} */

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
